{% extends 'base.html' %}
{% block content %}


<div style="width: 80%; margin: 0 auto;">
    <table>
        <thead>
            <tr class="text-dark">
                <th>customer</th>
                <th>product</th>
                <th>order_number</th>
                <th>order_date</th>
                <th>quantity</th>
                <th>amount</th>
                <th>gst_amount</th>
                <th>total_price</th>
                {% if request.user.role == 0 or request.user.role == 1 %}
                <th>update</th>
                <th>delete</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for order in all_orders %}
            <tr>
                <td>{{order.customer}}</td>
                <td>{{order.product}}</td>
                <td>{{order.order_number}}</td>
                <td>{{order.order_date}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.gst_amount}}</td>
                <td>{{order.total_price}}</td>

                {% if request.user.role == 0 or request.user.role == 1 %}

                <td>
                    <a href="{% url 'update_order' order.id %}">
                        <button class="btn btn-primary">update</button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_order' order.id %}">
                        <button class="btn btn-danger">delete</button>
                    </a>
                </td>

                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if request.user.role == 0 or request.user.role == 1 %}

    <div class="d-flex justify-content-end mt-3">
        <a href="/order_management/add_orders/" class="btn btn-primary">ADD ORDERS</a>
    </div>

    {% endif %}

</div>

{% endblock %}