{% extends 'base.html' %}
{% block content %}


<div style="width: 80%; margin: 0 auto;">
<table>
    <thead>
        <tr class="text-dark">
            <th>product name</th>
            <th>product code</th>
            <th>price</th>
            <th>gst</th>
            <th>delete</th>
            <th>update</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.product_code }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.gst }}</td>
            <td>
                <a href="{% url 'update_product' product.id %}">
                    <button class="btn btn-primary">update</button>
                </a>
            </td>
            <td>
                <a href="{% url 'delete_product' product.id %}">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end mt-3">
    <a href="/inventory/add_products/" class="btn btn-primary">ADD PRODUCTS</a>
</div>

</div>


{% endblock %}